<html>
    <head>
        <link rel="stylesheet" href="/uikit.min.css" />
        <title>Stadtliga-Kalender</title>
    </head>
    <body>
        <div class="uk-flex uk-flex-center uk-margin-top">
            <div class="uk-width-1-4@l uk-width-1-1 uk-margin-left uk-margin-right">
                <a class="uk-card uk-card-default uk-card-body uk-button uk-button-default uk-padding-small" style="font-size:2.5vh;margin-top:2vh;padding:2vh;" href="/calendar/{{ competition }}/{{ league }}">Zurück</a>
                <h2 class="uk-text-center" style="font-size:2.5vh;margin-top:2vh;padding:2vh;">Importieren in</h2>
                <a class="uk-card uk-card-default uk-card-body uk-button uk-button-default uk-padding-small uk-padding-top" style="font-size:2.5vh;margin-top:2vh;padding:2vh;" href="https://calendar.google.com/calendar/u/0/r?cid={{ encoded_link }}">Google Kalender</a>
                <h2 class="uk-text-center" style="font-size:2vh;margin-top:1vh;">Nach dem Hinzufügen muss die Synchronisierung des Kalenders einmalig in den Einstellungen der App aktiviert werden.</h2>
                <a class="uk-card uk-card-default uk-card-body uk-button uk-button-default uk-padding-small uk-padding-top" style="font-size:2.5vh;margin-top:2vh;padding:2vh;" href="{{ original_link }}">webcal Kalender</a>
                <h2 class="uk-text-center" style="font-size:2vh;margin-top:1vh;">Dieses Format wird z.B. von Apple unterstützt.</h2>
            </div>
        </div>
    </body>
</html>
